:root {
    --ifm-color-primary: #ff6600;
    --ifm-color-primary-dark: #e65c00;
    --ifm-color-primary-darker: #cc5200;
    --ifm-color-primary-darkest: #b34700;
    --ifm-color-primary-light: #ff8533;
    --ifm-color-primary-lighter: #ff9966;
    --ifm-color-primary-lightest: #ffb399;
}
[data-theme="dark"] {
    --ifm-color-primary: #ff944d;
    --ifm-color-primary-dark: #ff8533;
    --ifm-color-primary-darker: #ff751a;
    --ifm-color-primary-darkest: #e65c00;
    --ifm-color-primary-light: #ffa366;
    --ifm-color-primary-lighter: #ffb380;
    --ifm-color-primary-lightest: #ffc299;
}
